section.centraliser {margin-left: auto; margin-right: auto; width: 850px; font-size:1.2em;}

section.contentWrapper {}

section.blueHeader { border: solid 1px black }
section.blueHeader h1,
section.blueHeader h2 { background-color: #4F81BD; color: white; margin-top:0px; padding:7px;  font-size:1.2em;}
section.blueHeader section.innerWrap { padding:20px;}

section.blueHeader section.innerWrap { padding:20px;}

/* sub header - e.g. File Status */
section.sub-blueHeader { margin-top: 40px; }
section.sub-blueHeader h2 { background-color: #4F81BD; color: white; margin-top:0px; padding:7px;  font-size:1.2em; margin-bottom:0px; border: solid 1px black; border-bottom: none;}
section.sub-blueHeader section.innerWrap { padding:20px;}



/*** Nav ***/
div#loggedInUser { margin:-15px 5px 0px 0px; }
.navbar .nav > li > span { float: none; padding: 10px 15px; color: #777; text-decoration: none; text-shadow: 0px 1px 0px #FFF; display: block; }


/*** Forms ***/


/* Placeholder fix */
/* All browsers */
.placeholder { color: #aaa; }
/* WebKit */
::-webkit-input-placeholder { color: #aaa; }
/* Firefox 4+ */
:-moz-placeholder { color: #aaa; }

form.batchUploadForm { margin-top:20px; }


/* Registration Form */
form#register { }
form#register input { width: 220px; }
form#register select { width: 235px; }


/* Signin Form */
div#signin { }


/* Purchase Conversions Form */
form#purchaseConversion { }
form#purchaseConversion input { height:20px;}
form#purchaseConversion input#PurchaseConversionsForm_cost {cursor: pointer;}
form#purchaseConversion #PurchaseConversionForm_btn_cacl {margin-top:22px;}


/* Payment Billing Form */
form#paymentBilling { }
form#paymentBilling input { height:20px; width: 220px; }
form#paymentBilling select { width: 235px; }


/* Convert Batch File Form */
div#convertBatch { }
div#convertBatch form div label {display: inline-block; width: 120px; margin:5px 0px 5px 0px;}
div#convertBatch form div input {display: inline-block; width: 150px; margin:5px 0px 5px 0px;}
div#convertBatch form div ul.errors {display: inline-block; width: 150px; margin:5px 0px 5px 0px;}
div#convertBatch form div ul.errors li {display: inline-block; margin:5px 0px 5px 0px; list-style: none; color:red;}
div#convertBatch form .form_errors {color:red; margin-bottom:10px;}
div#convertBatch form .form_success {margin-bottom:10px;}


/* Convert Single Form */
form#convertSingle {}
form#convertSingle input { width: 220px; height:20px;}
form#convertSingle select { width: 235px; }

form#convertSingle .or_splitter { color: #777777; margin-bottom:18px; }


/* Summary Balance */
section#balance p {text-align:right; }
section#balance p span {display:inline-block; width:100px;}


/* Settings */
form#settingsUserDetails { }
form#settingsUserDetails input { height:20px; width: 220px; }
form#settingsUserDetails select { width: 235px; }
form#settingsUserPassword { }
form#settingsUserPassword input { height:20px; width: 220px; }
form#settingsUserPassword select { width: 235px; }


form#settingsUserDetails .control-group .controls input { margin-top: 3px;}
form#settingsUserPassword .control-group .controls input { margin-top: 3px;}


/*** Tables ***/

/* File Status */
table.fileStatus div.progress { width:300px;}

/* Account History */
table#accountHistory {}

td.text-center { text-align: center; }
