html, body {margin:0px; padding:0px;}
body { font-size:62.5%; font-family: arial, "lucida console", sans-serif; }

section.centraliser {margin-left: auto; margin-right: auto; width: 850px; font-size:1.2em;}

section.contentWrapper {}

section.blueHeader { border: solid 1px black }
section.blueHeader h1,
section.blueHeader h2 { background-color: #4F81BD; color: white; margin-top:0px; padding:7px;  font-size:1.2em;}
section.blueHeader section.innerWrap { padding:20px;}

/* sub header - e.g. File Status */
section.sub-blueHeader { margin-top: 40px; }
section.sub-blueHeader h2 { background-color: #4F81BD; color: white; margin-top:0px; padding:7px;  font-size:1.2em; margin-bottom:0px; border: solid 1px black; border-bottom: none;}
section.sub-blueHeader section.innerWrap { padding:20px;}


/* Footer */
header {margin:0px 0px 60px 0px}

/* Footer */
footer {margin:50px 0px 0px 0px}



/*** Forms ***/

/* Registration Form */
div#register { }
div#register form div div.accept_terms label {display: inline-block; margin:0px 0px 0px 10px;}
div#register form div div.form_row input {display: inline-block; width: 200px; margin:5px 0px 5px 0px;}
div#register form div ul.errors {display: inline-block; width: 200px; margin:5px 0px 5px 0px;}
div#register form div ul.errors li {display: inline-block; margin:5px 0px 5px 0px; list-style: none; color:red;}
div#register form div #RegistrationForm_captcha {display: block;}
div#register form div #RegistrationForm_acceptTerms {float:left;}
/*
div#register form div #RegistrationForm_acceptTerms {float:left; width:40px;}
*/

/* Signin Form */
div#signin { }
div#signin form div div.form_row label {display: inline-block; width: 100px; margin:5px 0px 5px 0px;}
div#signin form div div.form_row input {display: inline-block; width: 200px; margin:5px 0px 5px 0px;}
div#signin form div div.form_row.staySignedIn input {width: 10px;}
div#signin form div ul.errors {display: inline-block; width: 200px; margin:5px 0px 5px 0px;}
div#signin form div ul.errors li {display: inline-block; margin:5px 0px 5px 0px; list-style: none; color:red;}


/* Purchase Conversions Form */
div#purchaseConversion { }
div#purchaseConversion form div label {display: inline-block; width: 120px; margin:5px 0px 5px 0px;}
div#purchaseConversion form div input {display: inline-block; width: 150px; margin:5px 0px 5px 0px;}
div#purchaseConversion form div ul.errors {display: inline-block; width: 150px; margin:5px 0px 5px 0px;}
div#purchaseConversion form div ul.errors li {display: inline-block; margin:5px 0px 5px 0px; list-style: none; color:red;}
div#purchaseConversion form .form_errors {color:red; margin-bottom:10px;}


/* Payment Billing Form */
div#paymentBilling { }
div#paymentBilling form div label {display: inline-block; width: 120px; margin:5px 0px 5px 0px;}
div#paymentBilling form div input {display: inline-block; width: 150px; margin:5px 0px 5px 0px;}
div#paymentBilling form div select {display: inline-block; width: 155px; margin:5px 0px 5px 0px;}
div#paymentBilling form div ul.errors {display: inline-block; width: 150px; margin:5px 0px 5px 0px;}
div#paymentBilling form div ul.errors li {display: inline-block; margin:5px 0px 5px 0px; list-style: none; color:red;}
div#paymentBilling form .form_errors {color:red; margin-bottom:10px;}
div#paymentBilling .billing { font-weight: bold;}


#paymentOverview { margin-bottom: 40px;}
#paymentOverview th, #paymentOverview td { padding: 0px 40px 0px 0px}


/* Convert Batch File Form */
div#convertBatch { }
div#convertBatch form div label {display: inline-block; width: 120px; margin:5px 0px 5px 0px;}
div#convertBatch form div input {display: inline-block; width: 150px; margin:5px 0px 5px 0px;}
div#convertBatch form div ul.errors {display: inline-block; width: 150px; margin:5px 0px 5px 0px;}
div#convertBatch form div ul.errors li {display: inline-block; margin:5px 0px 5px 0px; list-style: none; color:red;}
div#convertBatch form .form_errors {color:red; margin-bottom:10px;}
div#convertBatch form .form_success {margin-bottom:10px;}


/* Convert Single Form */
div#convertSingle {}
div#convertSingle #ConvertSingleForm {width:49%; display: inline-block; vertical-align:top;}
div#convertSingle #ConvertSingleFormResults {width:49%; display: inline-block; vertical-align:top;}
div#convertSingle p.title  {text-align: center;}
div#convertSingle div.panel  {margin: 10px; padding: 10px; background: white;}


/* Summary Balance */
section#balance p {text-align:right; }
section#balance p span {display:inline-block; width:100px;}



/*** Tables ***/

/* File Status */
table#fileStatus {width: 100%; border-collapse:collapse;}
table#fileStatus td, table#fileStatus th {border:solid 1px black; padding: 3px}

/* Account History */
table#accountHistory {width: 100%; border-collapse:collapse;}
table#accountHistory td, table#accountHistory th {border:solid 1px black; padding: 3px}