{% extends "KryptosKryptosBundle::layout.html.twig" %}


{% block content %}
	
	<section class="blueHeader">
		<h1>{{ location }}</h1>
		<section class="innerWrap">
			<h3>Your transaction could NOT be processed</h3>

			<p>There was a problem processing your payment.</p>
			
			<p>Our payment provider reported the following problem:</p>
			<p>{{ msg }}</p>
		</section>
	</section>

{% endblock %}