{% extends "KryptosKryptosBundle::layout.html.twig" %}

{% block content %}
	<fieldset>
		<legend style="text-align:left;">{% trans %}txt_payment_failed{% endtrans %}</legend>
	</fieldset>
	<div class="row-fluid">
		<div class="span12">
			<div style="background-color:#F8F8F8">
				<form>
					<div class="row">
						<fieldset>
							<legend>{% trans %}txt_trans_not_processed{% endtrans %}</legend>

							<p>{% trans %}txt_payment_fail_desc_1{% endtrans %}</p>
			
							<p>{% trans %}txt_payment_fail_desc_2{% endtrans %}</p>
							<p>{{ msg }}</p>
						</fieldset>
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}