{% extends "KryptosKryptosBundle::layout.html.twig" %}

{% block content %}
	<fieldset>
		<legend style="text-align:left;">{% trans %}txt_payment_received{% endtrans %}</legend>
	</fieldset>
	<div class="row-fluid">
		<div class="span12">
			<div style="background-color:#F8F8F8">
				<form>
					<div class="row">	

						<fieldset>
							<legend>{% trans %}txt_trans_successfully_processed{% endtrans %}</legend>

							<p>{% trans with {'{{ credits_added }}': credits_added } %}txt_payment_pass_desc_1{% endtrans %}</p>
							
							{% if lines > 0 %}
								<p>{% trans with {'{{ lines }}': lines } %}txt_payment_pass_desc_2{% endtrans %}</p>
							{% endif %}

							<p>{% trans with {'{{ credits_total }}': credits_total } %}txt_payment_pass_desc_3{% endtrans %}</p> 
						</fieldset>
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}
