{#% spaceless %#}
<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
	<head>
		{% block head %}{% endblock %}
	</head>
	<body  id="wrapper">
		{% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
	</body>
</html>
{#% endspaceless %#}