{% extends "KryptosKryptosBundle::layout.html.twig" %}

{% block content %}
	<fieldset>
		<legend style="text-align:left;">{% trans %}txt_purchase_conversions{% endtrans %}</legend>
	</fieldset>
	<div class="row-fluid">
		
		{% if purchaseRequired > 0 %}
		<script type="text/javascript">
			var purchaseRequired = {{ purchaseRequired }};
		</script>
	
		<div class="alert alert-block">
			<button type="button" class="close" data-dismiss="alert"><i class=" icon-remove"></i></button>
			<strong><i class="icon-info-sign"></i> {% trans %}txt_please_wait{% endtrans %}</strong> <br/>
			{% trans %}txt_no_of_conversion_being_calc{% endtrans %}
		</div>
		{% endif %}
	
		<div class="span6">
			<div style="background-color:white" >	
			{% render controller('KryptosKryptosBundle:PurchaseConversions:items', { request: request, error: error })  %}
			</div>
		</div>
	</div>
	
{% endblock %}