{% extends "KryptosKryptosBundle::layout.html.twig" %}


{% block content %}
	<legend style="text-align:left;">{{ location }}</legend>
	<div class="row-fluid">
		<div class="span6">
			<div style="background-color:#F8F8F8">
				<form>
					<div class="row">	
						<fieldset>
							<legend>Public key</legend>
							<div class="control-group">
							{{ publicKey }}
							</div>
						</fieldset>
					</div>
				</form>
			</div>
		</div>
		
		<div class="span6">
			<div style="background-color:#F8F8F8">
				<form>
					<div class="row">	
						<fieldset>
							<legend>Private key</legend>
							<div class="control-group">
							{{ privateKey }}
							</div>
						</fieldset>
					</div>
				</form>
			</div>
		</div>
	</div>
	
	<div class="row-fluid">
		<form class="form-horizontal" >
			<legend>Available endpoints</legend>
			<div>
				The following API calls are available<br><br>
				
				IBAN endpoint:<br>
				<code>/services/convert/iban/{publicKey}/{iban}</code><br><br>
				
				BBAN endpoint:<br>
				<code>/services/convert/bban/{publicKey}/{country}/{bban1}/{bban2}/{bban3}/{bban4}</code><br>
				
				<br>
			</div>
			
			
			<br><br>
			<legend>Usage</legend>
			<div>
				The IBAN endpoint can be used to return SEPA bank details from a given IBAN number.
			</div>
			<div>
				The BBAN endpoint can be used to return SEPA bank details from a set of BBAN details.
			</div>
			
			<div>
				<br>
				Both API calls require that your public key (displayed above) is provided in the call. Your public key should replace the text <code>{publicKey}</code> in both API calls. 
			</div>
			
			<div>
				<br>
				When using the BBAN endpoint, only the necessary bban fields for the specified country code can be supplied.<br>
				e.g. If making a call on the GB country code then only bban1 and bban2 can be supplied, such as:<br>
				<code>/services/convert/bban/{publicKey}/GB/{bban1}/{bban2}</code>
			</div>
			
			
			<br><br>
			<legend>What are Public/Private keys</legend>
			<div>
				The Public key is a unique key that can be used to identify you. This key will need to be supplied in all transactional API calls.
				A transactional API call refers to any API call that will modify your account details, such as your account credit.
			</div>
			
			<div>
				<br>
				The Private key is a unique key that can be used to verify that the API call originated from you.
				This key should NOT be supplied in any API call, and should be kept a secret and not exposed to anybody else.<br>
				
				This key will be used to encrypt data at your end, before you make a call to your APIs.
				Our API's do NOT currently support this feature.
				More information will be added here once this feature has been implemented.
			</div>
			
		</form>
	</div>
{% endblock %}