{% if allDisabled == false %}
	{% if signin == true %}
    	<a href="{{ path('signin') }}">signin</a> <br>
    {% endif %}

    {% if register == true %}
		<a href="{{ path('register') }}">register</a><br>
	{% endif %}

	{% if logout == true %}
		<a href="{{ path('logout') }}">logout</a> &nbsp; | &nbsp; 
		<a href="{{ path('welcome') }}">welcome</a>
		
		<br>
	{% endif %}
{% endif %}