{% extends "KryptosKryptosBundle::layout.html.twig" %}

{% block content %}
	<h1>You have registered successfully</h1>
	<section>
		You may now sign in via the <a href="{{ link_url }}" >{{ link_text }}</a> screen.
	</section>
{% endblock %}