{% extends "KryptosKryptosBundle::layout.html.twig" %}

{% block content %}
	<h1>{{ header }}</h1>
	<section>
		{% if true == show_signin_link %}
			You may now sign in via the <a href="{{ link_url }}" >{{ link_text }}</a> screen.
		{% endif %}
	</section>
{% endblock %}