{% extends "KryptosKryptosBundle::layoutNotAuth.html.twig" %}

{% block content %}
	<h1>{{ header }}</h1>
	<section>
		You will shortly recieve an activation email to the email address you provided. 
		Please click on the activation link contained in the email to confirm your email address.
	</section>
{% endblock %}