{% extends "KryptosKryptosBundle::layout.html.twig" %}
{% form_theme form 'KryptosKryptosBundle:Form:register.html.twig' %}


{% block content %}
	<h1>{{ location }}</h1>
	<div id="register">
		<form action="{{ path('register') }}" method="post" {{ form_enctype(form) }}>
	    	{{ form_widget(form) }}
	
	    	<input type="submit" value="Register" />
		</form>
	</div>
{% endblock %}