{% extends "KryptosKryptosBundle::layoutNotAuth.html.twig" %}

{% block content %}
	<form class="form-horizontal" style="width: 500px;">
		<div class="control-group">    
			<div class="controls" > 
				<img src="/bundles/kryptoskryptos/images/kryptos.png" class="img-rounded" class="centering" />
			</div>
		</div>

		<br>
		<legend style="text-align:left;">{{ header|trans }}</legend>
			
		<div class="control-group">    
			<div class="controls" >
				{% if true == show_signin_link %}
					{% trans with {'{{ link_text }}': link_text, '{{ link_url }}': link_url } %}txt_para_account_activated{% endtrans %}
				{% endif %}
			</div>
		</div>
	</form>
{% endblock %}