{% extends "KryptosKryptosBundle::layoutNotAuth.html.twig" %}

{% block content %}
	<form class="form-horizontal" style="width: 500px;">
		<div class="control-group">    
			<div class="controls" > 
				<img src="/bundles/kryptoskryptos/images/kryptos.png" class="img-rounded" class="centering" />
			</div>
		</div>

		<br>
		<legend style="text-align:left;">{{ header }}</legend>
			
		<div class="control-group">    
			<div class="controls" >
				An email has been sent to the email address you provided. 
				Please click on the link contained in the email to confirm your email address. 
				You will be able to reset your password once your email address has been confirmed.
			</div>
		</div>
	</form>
{% endblock %}