{% extends "KryptosKryptosBundle::layoutNotAuth.html.twig" %}

{% block content %}
	<form class="form-horizontal" style="width: 500px;">
		<div class="control-group">    
			<div class="controls" > 
				<img src="/bundles/kryptoskryptos/images/kryptos.png" class="img-rounded" class="centering" />
			</div>
		</div>

		<br>
		<legend style="text-align:left;">{% trans %}txt_title_password_reset_confirm{% endtrans %}</legend>
			
		<div class="control-group">    
			<div class="controls" >
				{% trans %}txt_para_password_reset_confirm{% endtrans %}
			</div>
		</div>
	</form>
{% endblock %}