{% extends "KryptosKryptosBundle::layoutNotAuth.html.twig" %}

{% block content %}
	<form class="form-horizontal" style="width: 500px;">
		<div class="control-group">    
			<div class="controls" > 
				<a href="/"><img src="/bundles/kryptoskryptos/images/kryptos.png" class="img-rounded" class="centering" /></a>
			</div>
		</div>

		<br>
		<fieldset>
			<legend style="text-align:left;">{% trans %}txt_title_password_reset{% endtrans %}</legend>
		</fieldset>
			
		<div class="control-group">    
			<div class="controls" >
				{% trans %}txt_para_password_reset{% endtrans %}
				<br><br>
				{% trans %}txt_check_spam_folder{% endtrans %}
			</div>
		</div>
	</form>
{% endblock %}