{% extends "KryptosKryptosBundle::layout.html.twig" %}

{% block content %}
	<h1>{{ location }}</h1>
	<div id="welcome">
		
		<a href="#">Purchase Conversions</a> <br>
		<a href="#">Convert to SEPA format</a><br>
		
	</div>
{% endblock %}