{% extends "KryptosKryptosBundle::layout.html.twig" %}

{% block content %}
	<h1>{{ location }}</h1>
	<div id="welcome">
		
		<a href="{{ purchase_conversion_url }}">Purchase Conversions</a> <br>
		<a href="{{ convert_to_sepa_url }}">Convert to SEPA format</a><br>
		
	</div>
{% endblock %}