{% block form_row %}
{% spaceless %}
	<div class="controls form_row">
	    {{ form_widget(form) }}
	</div>
{% endspaceless %}
{% endblock form_row %}


{% block form_errors %}
{% spaceless %}
{% if errors|length > 0 %}
	<div class="alert alert-error">
		<button class="close" data-dismiss="alert" type="button"><i class=" icon-remove"></i></button>
		{% for error in errors %}
			{% set errorMessage = error.messageTemplate %}
			{% set errorMessageBits = errorMessage|split('|', 2) %}
			
			{% if errorMessageBits|length == 2 %}
				{% set title = errorMessageBits[0]|trans(error.messageParameters) %}
				{% set message = errorMessageBits[1]|trans(error.messageParameters) %}
				<strong>
					<i class=" icon-exclamation-sign"></i>
					{{ title }}
				</strong><br>
				{{ message }}
			{% else %}
				{{ error.messageTemplate|trans(error.messageParameters) }}<br>
			{% endif %}
		{% endfor %}
	</div>
{% endif %}
{% endspaceless %}
{% endblock form_errors %}