{% extends "KryptosKryptosBundle::layout.html.twig" %}


{% block content %}
<!--
	{% render 'KryptosKryptosBundle:Account:balance'  %}
-->
	<div class="row-fluid">
			{% render 'KryptosKryptosBundle:Account:history'  %}
	</div>
{% endblock %}