{% extends "KryptosKryptosBundle::layout.html.twig" %}


{% block content %}
<!--
	{% render controller('KryptosKryptosBundle:Account:balance')  %}
-->
	<div class="row-fluid">
			{% render controller('KryptosKryptosBundle:Account:history')  %}
	</div>
{% endblock %}