    {% extends "::base.html.twig" %}

{% block head %}
	<meta charset="UTF-8" />
    <title>{% block title %}Kryptos{% endblock %}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-Ua-Compatible" content="IE=edge,chrome=1" />
	<meta name="language" content="en" />
	<link rel="stylesheet" type="text/css" href="/bundles/kryptoskryptos/css/bootstrap/bootstrap.css" />
	<link rel="stylesheet" type="text/css" href="/bundles/kryptoskryptos/css/bootstrap/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="/bundles/kryptoskryptos/css/bootstrap/bootstrap-fileupload.min.css" />
	<link rel="stylesheet" type="text/css" href="/bundles/kryptoskryptos/css/main.css" />
	<link rel="shortcut icon" type="image/ico" href="/bundles/kryptoskryptos/images/favicon.png" />	
{% endblock %}

{% block body %}
	{% render controller('KryptosKryptosBundle:Default:authenicationBar', { 'route': app.request.attributes.get('_route') }) %}
	<div class="container-fluid">
		{% block content %}{% endblock %}
	</div>
{% endblock %}

{% block javascripts %}
<script src="/bundles/kryptoskryptos/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="/bundles/kryptoskryptos/js/jquery.placeholder.js"></script>

<script src="/bundles/kryptoskryptos/js/localeSwitcher.js"></script>
<script src="/bundles/kryptoskryptos/js/purchaseConversions.js"></script>
<script src="/bundles/kryptoskryptos/js/fileStatus.js"></script>
<script src="/bundles/kryptoskryptos/js/convertSingle.js"></script>
<script src="/bundles/kryptoskryptos/js/popover.js"></script>

<script type="text/javascript" src="/bundles/kryptoskryptos/js/bootstrap/bootstrap.js"></script>
<script type="text/javascript" src="/bundles/kryptoskryptos/js/bootstrap/bootstrap-tooltip.js"></script>
<script type="text/javascript" src="/bundles/kryptoskryptos/js/bootstrap/bootstrap-popover.js"></script>
<script type="text/javascript" src="/bundles/kryptoskryptos/js/bootstrap/bootstrap-fileupload.min.js"></script>
<script type="text/javascript" src="/bundles/kryptoskryptos/js/google/jsapi.js"></script>
<script type="text/javascript">
$(document).ready(function() {
	$("input[rel=tooltip]").tooltip({ trigger: 'hover', animation: 'true', placement:'right'});
	$('input, textarea').placeholder();
});
</script>

{% block secondary_javascript %}{% endblock %}
{% endblock %}